*{
    margin: 0;
    padding: 0;

}
.box{
    height:75px;
    width: 75px;
    border: solid;
    margin-left:5px ;
    margin: 5px;
    
}
#heading{margin-left: 30px;}
#container{
    height: 600px;
    width: 600;
    border: solid;
    margin: 20px;
    padding: 5px;
    display:flex;
    justify-content: center;
    align-items: center;

    
}
#Box1{
    background-color: aqua;
}
#Box2{background-color: blue;}
#Box3{background-color: blueviolet;}
#Box4{background-color: chocolate;}
