*{
    margin: 0;
    padding: 0;
}
nav{
    padding: 5px;
}
nav a {
    text-decoration: none;
    margin-left:  55px ;

}
header{
    background-color: palegreen;
    height: 30px;

}
#second{
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 35px;
}
.box{
    height: 50px;
    width:50px;
    background-color: cadetblue;
    margin:5px;
    align-content: center;
    text-align: center;
    display: inline-block;


}
#container{
    border: 2px solid black;
    margin: 20px;
}
#box2{
    z-index: 2;
    position: absolute;
    left: 3px;
}
#box5{
    position: fixed;
    right: 10px;
    background-color: chocolate;
    height: 50px;
    width: 50px;


}
footer{
    position: fixed;
    bottom: 0px;
    background-color: aqua;
}