*{
    margin: 0;
    padding: 0;
}
nav a{
    text-decoration: none;

}
img{
    height: 200px;
}    
#image{
    border: 4px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}



nav{
    display: flex;
    justify-content: space-around;
    height: 22px;
    padding-top: 10px;
}
header{
    background-color: black;
}
#container{
    height: 150px;
    width:400px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    
    
}



.box{
    height: 100px;
    width:100px;
    border: 2px solid red;

}
#box2{
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    align-content: center;

}
#media{
    height: 50px;
    width: 50px;
    background-color: chartreuse;
    border: 2px solid ;
}
@media screen and (min-width:300px) and (max-width:400px){
    #media{
        background-color: red;
    }
}
@media screen and (min-width:400px){
    #media{
        background-color: blue;
    }
}