*{
    margin: 0;
    padding: 0;
}
.box{
    height: 75px;
    width: 75px;
    border: 3px solid black;
    margin: 5px;

}
#heading{text-align: center;}
.container{
    height: 350px;
    width:600px;
    padding:10px;
    margin: 20px;
    left: 100px;
    border:3px solid black;
    background-color: lavenderblush;
    display: grid;
    grid-template-columns: 80px 100px;
    grid-template-rows: 80px 100px;

    
}
#box1{
    background-color: aqua;

}
#box2{
    background-color:green;

}
#box3{
    background-color:pink;

}
#box4{
    background-color:chocolate;

}
